In [129]:
# Module 2 Assignment 
import csv 
import pandas as pd
from pathlib import Path
%matplotlib inline

In [130]:
# defining file path
csv_path = Path("budget_data.csv")
csv_data = pd.read_csv(csv_path)

In [131]:
# giving the array a range or 2 columns
csv_data.shape

(86, 2)

In [132]:
tot_mos = csv_data.shape[0]

In [133]:
# plotting the top 11 datasets from index 0-10 
csv_data.head(11)

        Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
5   Jun-2010         522857
6   Jul-2010        1033096
7   Aug-2010         604885
8   Sep-2010        -216386
9   Oct-2010         477532
10  Nov-2010         893810

In [134]:
# calculating the total with the .sum function

total = f"${csv_data['Profit/Losses'].sum()}"

In [135]:
# calculating the average with the .mean function 

avg_changes = csv_data['Profit/Losses'].mean()
avg_changes = round(avg_changes, 0)

In [146]:
# adding values those that are >0 to the Profits list and values that are <0 to the Losses list. 

Profits = []
Losses =  []
for number in csv_data['Profit/Losses']:
    if number > 0:
        Profits.append(number)
    elif number < 0:
        Losses.append(number)
        
#defining Greatest Increase in Profits (g_i_p) by deducting the smallest amount from the highest amount. 
g_i_p = max(Profits) - min(Profits) 
highest_month = 0

#defining Greatest Decrease in Profits (g_l_d) by deducting the smallest amount from the highest amount. 
g_l_d = max(Losses) - min(Losses)
lowest_month = 0

In [147]:
# without looping we iterate over the dataset and searching for the highest profit, highest losses data as defined above. 

for index, row in csv_data.iterrows():
    if row['Profit/Losses'] == max(Profits):
           highest_month = row["Date"]
    if row['Profit/Losses'] == min(Losses):
            lowest_month = row["Date"]

In [148]:
# creating the text file with Financial Analysis, Total Month, Total, Average Change, g_i_p, and g_d_p fields and their correspon\nding variable as defined above.   

with open("financial_report.txt", "w") as file:
    file.write(f" Financial Analysis")
    file.write("\n"f" ________________________")
    file.write("\n"f" Total Month: {tot_mos}")
    file.write("\n"f" Total: {total}")
    file.write("\n"f" Average Change: ${avg_changes}")
    file.write("\n"f" Greatest Increase in Profts: {highest_month} (${g_i_p})")
    file.write("\n"f" Greatest Decrease in Profits: {lowest_month} (${g_l_d})")
file.close()